<main class="container">

  <div class="content">
    <app-banner></app-banner>
  </div>

  <aside class="content">
    <app-user-info></app-user-info>
  </aside>

  <div class="content">
    <div class="cards-container">
      <app-cards
        *ngFor="let card of cards"
        class="wrap-card"
        [title]="card.title"
        [note]="card.note"
        [formFields]="card.formFields"
        [buttons]="card.buttons"
        [imagePath]="card.imagePath">
      </app-cards>
    </div>
  </div>
  
  <div class="content">
    <app-extrato></app-extrato>
  </div>

</main>
