html {
    scroll-behavior: smooth;

}
body {
    background-color: var(--bg);
    color: var(--color);
    transition: background-color .3s;
    font-family: var(--primary-font);
    box-sizing: border-box;
    position: relative;
    scroll-behavior: smooth;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
    font-size: 16px;
}

a {
    color: var(--color);

    &:hover {
        text-decoration: none;
    }
}

::selection {
    background-color:#ffeda8;
    color:#000
}

input:focus-visible {
    outline: 0 none;
}