@use 'mixins' as *;

@media print {
    html, body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    @page {
      margin: 0;
      size: 210mm 297mm;
    }
  
  
    /* Ocultar cabeçalhos e rodapés automáticos do navegador */
    body::before,
    body::after {
      display: none;
    }
  
    /* Ocultar elementos específicos na impressão */
    .no-print {
      display: none !important;
    }
  }