
:root {
    --primary-font: "Inter", serif;
    --title-font: "Inter", serif;

    --gap: 10px;

    --white: #ffffff;
    --dark: #151515;
    --green: #75f94c;
    --orange: #F06541;
    --gray: #686868;
  
    --color: var(--white);
    --color-primary: var(--red);
    --color-secondary: #0e2233;
    --bg: var(--dark);
    --bg-secondary: #fff;
    --border-color: #ddd;
  
    --primary-color: var(--red);
    --text-color: var(--white);
  }